@model ApplicationUser

@inject StoreDbContext context;
@{
}

<ul class="list-group list-group-flush">
    <li class="list-group-item">
        Email: @Model.Email
    </li>
    <li class="list-group-item">
        Họ Và Tên: @Model.FullName
    </li>
    <li class="list-group-item">
        Tỉnh/Thành:
        @context.Province.FirstOrDefault(el =>
        el.Id == context.Addresses.FirstOrDefault(el =>
        el.Id == Model.AddressId).ProvinceId).Name
    </li>
    <li class="list-group-item">
        Quận/Huyện:
        @context.District.FirstOrDefault(el =>
            el.Id == context.Addresses.FirstOrDefault(el =>
            el.Id == Model.AddressId).DistrictId).Name
    </li>
    <li class="list-group-item">
        Xã/Phường:
        @context.Ward.FirstOrDefault(el =>
            el.Id == context.Addresses.FirstOrDefault(el =>
            el.Id == Model.AddressId).WardId).Name
    </li>
    <li class="list-group-item">
        Địa Chỉ:
        @context.Addresses.FirstOrDefault(el =>
        el.Id == Model.AddressId).HouseNum
    </li>
    <li class="list-group-item">
        Số Điện Thoại:
        @Model.PhoneNumber
    </li>
    <li class="list-group-item">
        Avatar: <img src="~/Images/UserImages/@Model.Avatar" alt="Alternate Text" style="margin-left:400px"/>
    </li>
</ul>