@model List<StoreManagement.Models.Entities.Category>

@inject StoreDbContext context;
@{
    var ProductList = context.Products.ToList();
}

<a asp-action="Create" asp-controller="Category">Create</a>

<table id="CategoryIndex" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>List Product</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Status</td>
                <td>
                    <a asp-controller="Category" asp-action="WatchProducts" asp-route-id="@item.Id">
                        @ProductList.FindAll(el => el.CategoryId == item.Id).Count Product(s)
                    </a>
                </td>
                <td>
                    <a href="javascript:void(0)" class="text-danger" onclick="Category.delete(@item.Id)">Delete</a>
                    <a asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
    </tfoot>
</table>

@section Scripts{
    <script src="~/js/Category.js" asp-append-version="true"></script>
}
