
@model Student
@inject AppDbContext context;

<ul class="list-group list-group-flush">
    <li class="list-group-item">
        Email: <span class="text-info">@Model.Email</span>
    </li>
    <li class="list-group-item">
        Họ Và Tên: <span class="text-info">@Model.FullName</span>
    </li>

    <li class="list-group-item">
        Ngày sinh:
        <span class="text-info">@Model.DoB.ToShortDateString();</span>
    </li>
    <li class="list-group-item">
        Giới Tính:
        <span class="text-info">@Model.Gender</span>
    </li>
    <li class="list-group-item">
        Lớp:
        <span class="text-info">@context.ClassRooms.FirstOrDefault(el => el.Id == Model.ClassRoomId).ClassName</span>
</li>
</ul>